.page-header
  %h1
    Randomizer

%table.table
  %thead
    %tr
      %th= @players[0]
      %th= @players[1]
      %th= @players[2]
      %th= @players[3]
      %th= @players[4]
  %tbody
    %tr
      %td= @roles[0]
      %td= @roles[1]
      %td= @roles[2]
      %td= @roles[3]
      %td= @roles[4]
