!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title League of Legends API Test
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag 'application'

  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href=> "/"}LoL API Test
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to "Champions", champions_path
            %li
              = link_to "Items", items_path
            %li
              = link_to "Randomizer", randomizer_path
    .container
      = yield
